# Ignore log files (src or other directories)
**/logs/*

# Ignore user manual folder
/docs/User_manual/

# Ignore text files with a hyphen in the filename
*-*.txt

# Ignore stylesheet
/src/styles.css

# Only keep the final SDD and SRS docs
/docs/Software_Design_Document/*
!/docs/Software_Design_Document/SDD_final.docx

/docs/Software_Requirement_Specification/*
!/docs/Software_Requirement_Specification/SRS_final.docx

# Ignore all README.md files except the repository root README.md
#Any README.md file in any subdirectory
**/README.md